@model Perfomans.Models.Parameters

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Parameters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coefficient" class="control-label"></label>
                <input asp-for="Coefficient" class="form-control" />
                <span asp-validation-for="Coefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
Description for mark "1"                <input asp-for="Mark_1_description" class="form-control" />
                <span asp-validation-for="Mark_1_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Description for mark "2"                 <input asp-for="Mark_2_description" class="form-control" />
                <span asp-validation-for="Mark_2_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Description for mark "3"                 <input asp-for="Mark_3_description" class="form-control" />
                <span asp-validation-for="Mark_3_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Description for mark "4"                 <input asp-for="Mark_4_description" class="form-control" />
                <span asp-validation-for="Mark_4_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Description for mark "5"                 <input asp-for="Mark_5_description" class="form-control" />
                <span asp-validation-for="Mark_5_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
